<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Faites-le avec nous,
            <br/>
            dès aujourd’hui.
        </h2>
        <p>
            Un projet en tête ? Contactez-nous et obtenez un devis personnalisé sans engagement.
        </p>
        <a href="/contact" class="cs-button-solid">Obtenir un devis maintenant</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/cta.png">
        <source media="(min-width: 601px)" srcset="/assets/images/cta.png">
        <img aria-hidden="true" decoding="async" src="/assets/images/cta.png" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>