<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/svgs/logo-white.svg" alt="logo" width="264" height="78"></a>
            <p>
                Depuis 1993, Chaud-Froid Sàrl met à votre service une équipe de monteurs qualifiés, spécialisée en chauffage et sanitaire pour particuliers, entreprises et bureaux. Aujourd’hui, nous nous engageons résolument vers les énergies renouvelables.
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Accueil</a>
                    </li>
                    <li>
                        <a href="/about">À propos</a>
                    </li>
                    <!-- <li>
                        <a href="/projects">Projets</a>
                    </li>
                   
                    <li>
                        <a href="/reviews">Avis clients</a>
                    </li> -->
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li> <a href="/Chauffage">Chauffage/ Sanitaire</a></li>
                    <li> <a href="/Sanitaire">Sanitaire</a></li>
                    <li> <a href="/Climatisation">Climatisation</a></li>
                    <li> <a href="/Énergies renouvelables">Énergies renouvelables</a></li>
                 
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">{{client.email}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    

    <div class="credit">
        <span class="copyright">
            © {% year %} - Présent</span>
            <a href="/" target="_blank" rel="noopener">Chaud-Froid Sàrl.</a>
        <span>Tous droits réservés.</span>
    </div>
</footer>
