---
title: 'Contact Chaud-Froid'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'contact/'
eleventyNavigation:
    key: Contact Us
    order: 600
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Contact</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact">
        <div class="cs-container">
            <form id="cs-form" name="Contact Form" action="https://formsubmit.co/info@chaud-froid.lu" method="post">
                <div class="cs-content">
                    <span class="cs-topper">Contact</span>
                    <h2 class="cs-title">Contactez-nous</h2>
                    <p class="cs-text">
                        Prenez contact avec notre équipe — nous sommes à votre écoute pour répondre à toutes vos questions et demandes.
                    </p>
                </div>
                <label>
                    Nom complet
                    <input required type="text" id="name" name="name" placeholder="Nom">
                </label>
                <label>
                    Adresse e-mail
                    <input required type="text" id="email" name="email" placeholder="Email">
                </label>
                <label>
                    Téléphone
                    <input required type="text" id="phone" name="phone" placeholder="Téléphone">
                </label>
                <label>
                    Objet
                    <input type="text" id="find" name="subject" placeholder="Objet">
                </label>
                <label class="cs-label-message">
                    Votre message
                    <textarea required name="Message" id="message" placeholder="Écrivez votre message ici"></textarea>
                </label>
                <button class="cs-button-solid" type="submit">Envoyer le message</button>
            </form>
            <div class="cs-right-section">
                <!--Email-->
                <span class="cs-header">Email</span>
                <a class="cs-link" href="mailto:{{client.email}}">{{client.email}}</a>
                <!--Phone-->
                <span class="cs-header">Phone</span>
                <a class="cs-link" href="tel:{{client.phoneForTel}}">{{client.phoneFormatted}}</a>
                <!--Address-->
                <span class="cs-header">Address</span>
                <a class="cs-link" href="{{client.address.mapLink}}">
                    {{client.address.lineOne}},
                    <br/>
                    {{client.address.lineTwo}},
                    <br/>
                    <span class="cs-block">
                        {{client.address.city}}
                        {{client.address.state}}
                        {{client.address.zip}}
                    </span>
                </a>

                <!-- Background Image-->
                <picture class="cs-bg-picture">
                    <source media="(min-width: 601px)" srcset="/assets/images/skyscraper.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/skyscraper.jpg" alt="building" loading="lazy" width="2500" height="1667">
                </picture>

            </div>
        </div>
    </section>
{% endblock %}