---
title: 'Chaud-Froid Sàrl'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
<!--                   Hero                       -->
<!-- ============================================ -->

<section id="hero-408">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title"><span class="cs-color">Chaud-Froid</span> Chauffage, climatisation & énergies renouvelables</h2>
            <p class="cs-text">
                Des solutions durables et performantes pour un confort optimal toute l’année.
            </p>
            <a href="/contact" class="cs-button-solid">Demander un devis</a>
            
            
            <span class="cs-header">Partenaires et fournisseurs:</span>
            <div class="cs-logo-group">
                <!--Logo 1-->
                <img class="cs-logo" src="/assets/images/buderus-logo.webp" alt="logo" width="113" height="31" decoding="async">
                <!--Logo 2-->
                <img class="cs-logo" src="/assets/images/de_dietrich-logo.png" alt="logo" width="113" height="40" decoding="async">
                <!--Logo 3-->
                <img class="cs-logo" src="/assets/images/lg-logo.png" alt="logo" width="113" height="30" decoding="async">
                <!--Logo 4-->
                <img class="cs-logo" src="/assets/images/viessmann-logo.webp" alt="logo" width="113" height="37" decoding="async">
                <img class="cs-logo" src="/assets/images/kaysun-logo.png" alt="logo" width="113" height="37" decoding="async">
            </div>
        </div>
        <div class="cs-stat-group">
            <picture class="cs-background">
                <source media="(max-width: 600px)" srcset="/assets/images/buderus-example.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/buderus-example.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/buderus-example.jpg" alt="leaves" width="842" height="737" aria-hidden="true">
            </picture>
            <div class="cs-stat-box">
                <span class="cs-stat">
                    30
                    <span class="cs-desc">ans d'experience</span>
                </span>
            </div>
            <div class="cs-stat-box">
                <span class="cs-stat">
                    500+
                    <span class="cs-desc">
                        Nouvelles installations par an
                        </span>
                </span>
            </div>
        </div>
    </div>
</section>
                                

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service1.svg"
                alt="appliance"
                width="48"
                height="48"/>
            </picture>
            <h2>Installation chauffage et climatisation</h2>
            <p>Nous assurons l’installation complète de vos systèmes de chauffage, en veillant à leur performance et à leur adaptation à votre logement.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service2.svg"
                alt="appliance"
                width="48"
                height="48"/>
            </picture>
            <h2>Entretien et maintenance</h2>
            <p>Nous garantissons le bon fonctionnement de vos équipements sur le long terme grâce à un suivi régulier et préventif.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service3.svg"
                alt="appliance"
                width="48"
                height="48"/>
            </picture>
            <h2>Dépannage rapide</h2>
            <p>En cas de panne, nous intervenons rapidement pour réparer vos installations et rétablir votre confort. Notre équipe s'assure d'une réparation efficace pour éviter toute perturbation prolongée.</p>
        </div>
        
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">À propos de nous</span>
                <h2 class="cs-title">À propos de Chaud-Froid Sàrl</h2>
                <p class="cs-text">
                    Depuis 1993, notre entreprise met son savoir-faire au service des particuliers et des professionnels dans le domaine du chauffage, de la climatisation et des installations sanitaires.
                    Notre équipe, composée de monteurs qualifiés et passionnés, intervient avec rigueur et réactivité pour assurer des installations fiables, un entretien régulier et un service de dépannage rapide.
                </p>
                <p class="cs-text">
                    Soucieuse de l’environnement et des évolutions technologiques, notre société s’oriente de plus en plus vers des solutions durables, notamment les énergies renouvelables comme les pompes à chaleur.
                    Nous privilégions la qualité, la proximité et la satisfaction client dans chacune de nos interventions.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        Notre priorité a toujours été la qualité du travail et la confiance de nos clients. Chaque projet est une responsabilité que nous prenons à cœur.
                    </p>
                    <span class="cs-name">Laurent Mathias</span>
                    <span class="cs-job">Le responsable de Chaud-Froid Sàrl</span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77"/>
                </div>
                <a href="/about" class="cs-button-solid">En savoir plus sur nous</a>
            </div>
        </div>
    </section>

   <!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-964">
    <div class="cs-container">
        <!-- Left Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Nos services</span>
            <h2 class="cs-title">Des solutions sur mesure pour votre confort</h2>
            <p class="cs-text">
                Nous installons, entretenons et modernisons vos systèmes de chauffage, climatisation et sanitaire. Découvrez nos domaines d’intervention.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Chauffage</h3>
                <p class="cs-item-text">
                    Installation et maintenance de chaudières, pompes à chaleur et planchers chauffants pour un confort thermique optimal.
                </p>
                <a href="/chauffage" class="cs-link">Voir Plus</a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="/assets/images/services/service-chauffage.jpg" alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Sanitaire</h3>
                <p class="cs-item-text">
                    Réalisation et rénovation complète de vos installations sanitaires, avec des équipements modernes et fiables.
                </p>
                <a href="/Sanitaire" class="cs-link">Voir Plus</a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="/assets/images/services/service-sanitaire.jpg" alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Climatisation</h3>
                <p class="cs-item-text">
                    Solutions de climatisation pour logements, bureaux ou commerces. Systèmes performants, discrets et économes.
                </p>
                <a href="" class="cs-link">Voir Plus</a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="/assets/images/services/service-climatisation.jpg" alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Énergies renouvelables</h3>
                <p class="cs-item-text">
                    Intégration de solutions durables : Panneaux solaires photovoltaïques, solaire thermique, récupération de chaleur et plus encore.
                </p>
                <a href="" class="cs-link">Voir Plus</a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="/assets/images/services/service-renouvelables.jpg" alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Rénovation de salle de bains</h3>
                <p class="cs-item-text">
                    Conception et rénovation complète de votre salle de bains avec des matériaux de qualité et un rendu moderne.
                </p>
                <a href="" class="cs-link">Voir Plus</a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="/assets/images/services/service-salle_de_bains.jpg" alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Entretien & dépannage</h3>
                <p class="cs-item-text">
                    Service réactif pour l’entretien régulier et les dépannages urgents de vos installations thermiques et sanitaires.
                </p>
                <a href="" class="cs-link">Voir Plus</a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="/assets/images/services/service-depannage.jpg" alt="hair cut" width="480" height="425">
                </picture>
            </li>
        </ul>
    </div>
    <!--Waves Background-->
    <picture class="cs-waves">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves-m.svg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg" alt="waves graphic" width="1920" height="331" aria-hidden="true">
    </picture>
</section>
                                

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <span class="cs-topper">Notre portfolio</span>
            <h2 class="cs-title">Voyez nos projets réalisés</h2>
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port1-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port1.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port1.jpg" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port4-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port4.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port4.jpg" alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port7-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port7.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port7.jpg" alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port2-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port2.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port2.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port5-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port5.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port5.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port8-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port8.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port8.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port3-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port3.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port3.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port6-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port6.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port6.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port9-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port9.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port9.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>

                </div>
            </div>
            <a href="/projects" class="cs-button-solid">Voir la galerie complète</a>
        </div>
    </section>

   <!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-1263">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Questions Posées</span>
            <h2 class="cs-title">Foire aux questions (FAQ)</h2>
        </div>
        <ul class="cs-faq-group">
            <!-- Active class added as default -->
            <li class="cs-faq-item active" >
                <button class="cs-button">
                    <span class="cs-button-text">
                        Quels types de systèmes installez-vous ?
                    </span>
                </button>
                <p class="cs-item-p">
                    Nous installons une large gamme de systèmes de chauffage, de climatisation et de ventilation adaptés aux besoins des particuliers, des commerces et des bureaux.
                </p>
            </li>
            <li class="cs-faq-item ">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Quels sont les signes indiquant que mon système de chauffage nécessite une maintenance ?
                    </span>
                </button>
                <p class="cs-item-p">
                    Une baisse de performance, des bruits inhabituels ou une augmentation de la consommation énergétique peuvent indiquer qu'une maintenance est nécessaire.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Comment puis-je améliorer l'efficacité énergétique de mon système de chauffage ?
                    </span>
                </button>
                <p class="cs-item-p">
                    L'installation d'un thermostat programmable, l'isolation adéquate de votre habitation et un entretien régulier contribuent à une meilleure efficacité énergétique.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        À quelle fréquence devrais-je faire entretenir mon système de chauffage ?
                    </span>
                </button>
                <p class="cs-item-p">
                    Il est recommandé de faire vérifier et entretenir votre système de chauffage au moins une fois par an, idéalement avant la saison froide.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Quelles sont les options de chauffage les plus écologiques disponibles ?
                    </span>
                </button>
                <p class="cs-item-p">
                    Les pompes à chaleur, les chaudières à condensation et les systèmes solaires thermiques sont parmi les options les plus respectueuses de l'environnement.
                </p>
            </li>
            
        </ul>
    </div>
    <!--SVG Waves-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg">
        <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg" loading="lazy" decoding="async" alt="moon" width="1920" height="647">
    </picture>
</section>
                                

    {% include 'components/cta.html' %}
{% endblock %}